.scroll-pane {
    -fx-background-insets: 0;
}

.fp-avatar {
    -fx-background-color: gray;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.fp-user-box {
    -fx-alignment: CENTER-LEFT;
    -fx-spacing: 0.3em;
}

.fp-tpro-box {
    -fx-spacing: .3em;
}

.fp-pro-text-flow {
    -fx-font-size: 1.5em;
    -fx-background-color: #34A1E0;
    -fx-font-weight: bolder;
    -fx-border-radius: .5em;
    -fx-background-radius: .5em;
    -fx-padding: .5em;
    -fx-line-spacing: .5em;
}

.view-port {
    -fx-background-color: #fff;
    -fx-padding: .5em;
}

.bottom-box {
    -fx-background-color: #fff;
}

.bottom-box HBox {
    -fx-padding: .3em .8em;
}

.bottom-box HBox .button {
    -fx-pref-width: 8em;
    -fx-text-fill: #fff;
    -fx-background-color: #289AFC;
}

.bottom-box .text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.bottom-box .text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}