.scroll-pane {
    -fx-background-insets: 0;
}

.fp-avatar {
    -fx-background-color: gray;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.fp-user-box {
    -fx-alignment: CENTER-LEFT;
    -fx-spacing: 0.3em;
}

.fp-tpro-box {
    -fx-spacing: .3em;
}

.fp-pro-text-flow {
    -fx-font-size: 1.5em;
    -fx-background-color: #34A1E0;
    -fx-font-weight: bolder;
    -fx-border-radius: .5em;
    -fx-background-radius: .5em;
    -fx-padding: .5em;
    -fx-line-spacing: .5em;
}

.view-port {
    -fx-background-color: #f3f3f3;
    -fx-padding: .5em;
    -fx-spacing: .7em;
}

.bottom-box {
    -fx-background-color: #f3f3f3;
}

.bottom-box HBox {
    -fx-padding: .3em .8em;
}

.bottom-box HBox .button {
    -fx-pref-width: 8em;
    -fx-text-fill: #00C268;
    -fx-background-color: #E0E0E0;
    -fx-font-size: 1.2em;
}

.bottom-box .text-area {
    -fx-background-insets: 0;
    -fx-border-color: #E0E0E0;
    -fx-border-width: .05em 0 0 0;
    -fx-font-size: 1.5em;
    -fx-pref-height: 6em;
    -fx-background-color: transparent, #f3f3f3, transparent, #f3f3f3;
}

.bottom-box .text-area .content {
    -fx-background-color: transparent, #f3f3f3, transparent, #f3f3f3;
}

.tpro-tool-box {
    -fx-background-color: #f3f3f3;
    -fx-alignment: CENTER;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 0 0 .05em 0;
    -fx-padding: .5em;
}

.tpro-tool-box .title {
    -fx-font-weight: bolder;
    -fx-font-size: 1.8em;
}